@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$core-blue:#3d2fb7;
$core-green:#12dc7b;
$open-sans:"Open Sans";
$lato:"Lato";
$white: #fff;
$gray: #282728;
$title-color:#061d59;